<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">AuthLabAngular.Bff</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <li *ngIf="!user" class="nav-item" style="cursor:pointer">
            <a class="nav-link text-dark" (click)="toggleLoginModal(true)">Login</a>
          </li>
          <li *ngIf="user" class="nav-item" style="cursor:pointer">
            <a class="nav-link text-dark">Hello {{user?.name}}</a>
          </li>
        </ul>
      </div>
      <app-login-modal *ngIf="showLogin && !user" (dismiss)="toggleLoginModal(false)">
        <iframe [src]="urlSafe" width="100%" height="510px"></iframe>
      </app-login-modal>
    </div>
  </nav>
</header>
